<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LYN"
        tools:targetApi="31">
        <activity
            android:name=".materialweb"
            android:exported="false" />
        <activity
            android:name=".material"
            android:exported="false" />
        <activity
            android:name=".youweb"
            android:exported="false" />
        <activity
            android:name=".youtube"
            android:exported="false" />
        <activity
            android:name=".Attendance"
            android:exported="false" />
        <activity
            android:name=".ExamUpload"
            android:exported="false" />
        <activity
            android:name=".OfflineWebview"
            android:exported="false" />
        <activity
            android:name=".Offline"
            android:exported="false" />
        <activity
            android:name=".OnlineWebview"
            android:exported="false" />
        <activity
            android:name=".Online"
            android:exported="false" />
        <activity
            android:name=".Mentors"
            android:exported="false" />
        <activity
            android:name=".tamildashboard"
            android:exported="false" />
        <activity
            android:name=".Upload"
            android:exported="false" />
        <activity
            android:name=".Assignment"
            android:exported="false" />
        <activity
            android:name=".Classrooms"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".dashboard"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".SecondActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>